
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- About Section -->
<section id="about" class="about section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>Giới thiệu</h2>
        <p>Nutrition Guide được phát triển với mục đích</p>
    </div><!-- End Section Title -->

    <div class="container">

        <div class="row gy-4">
            <div class="col-lg-6 position-relative align-self-start" data-aos="fade-up" data-aos-delay="100">
                <img src="~/images/designer.png" class="img-fluid" alt="">
                @* <a href="https://www.youtube.com/watch?v=Y7f98aduVJ8" class="glightbox pulsating-play-btn"></a> *@
            </div>
            <div class="col-lg-6 content" data-aos="fade-up" data-aos-delay="200">
                <h3>Nutrition Guide</h3>
                <p class="fst-italic">
                    Phần mềm Nutrition Guide được phát triển nhằm mục đích nâng cao nhận thức và hỗ trợ người dùng trong việc quản lý dinh dưỡng và sức khỏe cá nhân. Các lý do chính bao gồm:

                    <ol>
                        <li>
                            <strong>Nâng cao nhận thức về dinh dưỡng</strong>: Phần mềm giúp người dùng hiểu rõ hơn về tầm quan trọng của dinh dưỡng và cách lựa chọn thực phẩm lành mạnh. Điều này góp phần cải thiện sức khỏe tổng thể và phòng ngừa các bệnh liên quan đến dinh dưỡng kém.
                        </li>
                        <li>
                            <strong>Hỗ trợ sức khỏe cộng đồng</strong>:Bằng cách cung cấp thông tin và công cụ quản lý dinh dưỡng, phần mềm giúp giảm thiểu các vấn đề sức khỏe như béo phì, tiểu đường và bệnh tim mạch. Điều này không chỉ cải thiện chất lượng cuộc sống của cá nhân mà còn giảm gánh nặng cho hệ thống y tế.
                        </li>
                        <li>
                            <strong>Cá nhân hóa chế độ ăn uống</strong>: Phần mềm cung cấp các kế hoạch ăn uống và gợi ý dinh dưỡng phù hợp với nhu cầu và mục tiêu cá nhân của từng người dùng. Điều này giúp người dùng dễ dàng đạt được và duy trì mục tiêu sức khỏe của mình.
                        </li>
                        <li><strong>Tiện lợi và dễ sử dụng</strong>: Với giao diện thân thiện và dễ sử dụng, phần mềm giúp người dùng dễ dàng theo dõi và quản lý chế độ ăn uống hàng ngày. Điều này tạo ra sự tiện lợi và khuyến khích người dùng duy trì thói quen ăn uống lành mạnh.</li>
                        <li>
                            <strong>
                                Tích hợp công nghệ
                            </strong>: Phần mềm sử dụng công nghệ hiện đại để cung cấp thông tin chính xác và cập nhật. Ngoài ra, nó còn có khả năng kết nối với các thiết bị đeo tay và ứng dụng khác, tạo ra một hệ sinh thái sức khỏe toàn diện.
                            
                        </li>
                        <li>
                            <strong>
                                Giáo dục và đào tạo
                            </strong>: Phần mềm cung cấp kiến thức và tài liệu giáo dục về dinh dưỡng, giúp người dùng tự tin hơn trong việc lựa chọn thực phẩm và xây dựng lối sống lành mạnh. Điều này không chỉ cải thiện sức khỏe cá nhân mà còn góp phần xây dựng một cộng đồng khỏe mạnh hơn.
                            
                        </li>
                    </ol>
                </p>
               
            </div>
        </div>

    </div>

</section><!-- /About Section -->