@{
    ViewData["Title"] = "Home Page";
    Layout = "_ContLayout";
}

@section left_menu{
    <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
        <div class="service-box">
            <h4>Chỉ số BMI</h4>
            <div class="services-list">
                <a href="#chiso" class="active"><i class="bi bi-arrow-right-circle"></i><span>Chỉ số BMI</span></a>
                <a href="#chiso"><i class="bi bi-arrow-right-circle"></i><span>Chỉ số BMI</span></a>
                <a href="#congthuc"><i class="bi bi-arrow-right-circle"></i><span>Công thức tính chỉ số BMI</span></a>
                <a href="#phanloai"><i class="bi bi-arrow-right-circle"></i><span>Phân loại mức độ gầy béo</span></a>
                <a href="#vongeo"><i class="bi bi-arrow-right-circle"></i><span>Tỉ lệ vòng eo/mông</span></a>
                
            </div>
        </div><!-- End Services List -->

        <div class="service-box">
            <h4>Tài liệu tham khảo</h4>
            <div class="download-catalog">
                <a href="#"><i class="bi bi-filetype-pdf"></i><span>Định dạng PDF</span></a>
                <a href="#"><i class="bi bi-file-earmark-word"></i><span>Định dạng DOC</span></a>
            </div>
        </div><!-- End Services List -->

        <div class="help-box d-flex flex-column justify-content-center align-items-center">
            <i class="bi bi-headset help-icon"></i>
            <h4>Câu hỏi trực tiếp?</h4>
            <p class="d-flex align-items-center mt-2 mb-0"><i class="bi bi-telephone me-2"></i> <span>+084 905 223 344</span></p>
            <p class="d-flex align-items-center mt-1 mb-0"><i class="bi bi-envelope me-2"></i> <a href="mailto:info@nutriguide.com">info@nutriguide.com</a></p>
        </div>
    </div>
}
@section heading{
    <h3>Cách đo và tính chỉ số BMI theo hướng dẫn của Viện Dinh dưỡng Quốc gia</h3>
}

@section page {
    <span>BMI</span>
}
<h3 id="chiso">Chỉ số BMI</h3>
<p>
    <strong>
        Chỉ số BMI là chỉ số đo cân nặng của một người. Công thức BMI được áp dụng cho cả nam và nữ và chỉ áp dụng cho người trưởng thành (trên 18 tuổi), không áp dụng cho phụ nữ mang thai, vận động viên, người già và có sự thay đổi giữa các quốc gia.

    </strong>
</p>
<p>
    Béo phì không chỉ khiến bạn tự ti về ngoại hình mà còn dẫn đến nhiều hệ lụy về sức khỏe như tăng nguy cơ mắc các bệnh lý tim mạch, đái tháo đường, ung thư,... Để đánh giá tình trạng béo phì có nhiều phương pháp khác nhau như đo lớp mỡ dưới da, đo tỉ trọng mỡ trong cơ thể,... nhưng phương pháp phổ biến nhất được Tổ chức Y tế thế giới khuyến cáo là dựa vào chỉ số BMI. Dưới đây là cách đo và tính toán chỉ số BMI theo hướng dẫn của Viện Dinh Dưỡng Quốc Gia.
</p>

<h3 id="congthuc">Công thức tính chỉ số BMI</h3>
<p>
Chỉ số BMI còn được gọi là chỉ số khối lượng cơ thể (Body Mass Index). Dựa vào chỉ số BMI của một người có thể biết được người đó béo, gầy hay có cân nặng lý tưởng. Chỉ số này được đề ra lần đầu tiên vào năm 1832 bởi một nhà khoa học người Bỉ. Công thức tính chỉ số BMI tương đối đơn giản, chỉ dựa vào 2 chỉ số là chiều cao và cân nặng:
</p>
<h4>BMI = Cân nặng/ [(Chiều cao)2]</h4>
<p>
Trong đó, chiều cao tính bằng m và cân nặng tính bằng kg.
<br/>
Chỉ số BMI không áp dụng cho phụ nữ có thai, vận động viên, người tập thể hình
</p>
<h3 id="phanloai">Bảng phân loại mức độ gầy-béo dựa vào chỉ số BMI</h3>
<p>
    Phân loại gầy béo <br />
    Phân loại gầy béo <br />
    Phân loại gầy béo <br />
    Phân loại gầy béo <br />
    Phân loại gầy béo <br />
    Phân loại gầy béo <br />
    Phân loại gầy béo <br />
    Phân loại gầy béo <br />
    Phân loại gầy béo <br />
    Phân loại gầy béo <br />
</p>

<h3 id="vongeo"></h3>
<p>
    Vòng mông/eo <br />
    Vòng mông/eo <br />
    Vòng mông/eo <br />
    Vòng mông/eo <br />
    Vòng mông/eo <br />
    Vòng mông/eo <br />
    Vòng mông/eo <br />
    Vòng mông/eo <br />
    Vòng mông/eo <br />

</p>