@{
    ViewData["Title"] = "Bệnh cao huyết áp";
    Layout = "_ContLayout";
}
@section left_menu {
    <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
        <div class="service-box">
            <h4>Thông tin Y tế</h4>
            <div class="services-list">
                <a href="#tieuduong" class="active"><i class="bi bi-arrow-right-circle"></i><span>Chỉ số đường huyết</span></a>
                <a href="#huyetap"><i class="bi bi-arrow-right-circle"></i><span>Huyết áp</span></a>
                <a href="#loikhuyentd"><i class="bi bi-arrow-right-circle"></i><span>Lời khuyên cho bệnh tiểu đường</span></a>
                <a href="#loikhuyenha"><i class="bi bi-arrow-right-circle"></i><span>Lời khuyên cho bệnh cao huyết áp</span></a>
                <a href="#thucpham"><i class="bi bi-arrow-right-circle"></i><span>Thực phẩm</span></a>
            </div>
        </div><!-- End Services List -->

        <div class="service-box">
            <h4>Tài liệu tham khảo</h4>
            <div class="download-catalog">
                <a href="#"><i class="bi bi-filetype-pdf"></i><span>Định dạng PDF</span></a>
                <a href="#"><i class="bi bi-file-earmark-word"></i><span>Định dạng DOC</span></a>
            </div>
        </div><!-- End Services List -->

        <div class="help-box d-flex flex-column justify-content-center align-items-center">
            <i class="bi bi-headset help-icon"></i>
            <h4>Câu hỏi trực tiếp?</h4>
            <p class="d-flex align-items-center mt-2 mb-0"><i class="bi bi-telephone me-2"></i> <span>+084 905 223 344</span></p>
            <p class="d-flex align-items-center mt-1 mb-0"><i class="bi bi-envelope me-2"></i> <a href="mailto:info@nutriguide.com">info@nutriguide.com</a></p>
        </div>
    </div>
}
<!-- About Section -->
<section id="about" class="about section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>About Us</h2>
        <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit</p>
    </div><!-- End Section Title -->

    <div class="container">

        <div class="row gy-4">
            <div class="col-lg-6 position-relative align-self-start" data-aos="fade-up" data-aos-delay="100">
                <img src="assets/img/about.jpg" class="img-fluid" alt="">
                <a href="https://www.youtube.com/watch?v=Y7f98aduVJ8" class="glightbox pulsating-play-btn"></a>
            </div>
            <div class="col-lg-6 content" data-aos="fade-up" data-aos-delay="200">
                <h3>Voluptatem dignissimos provident quasi corporis voluptates sit assumenda.</h3>
                <p class="fst-italic">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                    magna aliqua.
                </p>
                <ul>
                    <li><i class="bi bi-check2-all"></i> <span>Ullamco laboris nisi ut aliquip ex ea commodo consequat.</span></li>
                    <li><i class="bi bi-check2-all"></i> <span>Duis aute irure dolor in reprehenderit in voluptate velit.</span></li>
                    <li><i class="bi bi-check2-all"></i> <span>Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat nulla pariatur.</span></li>
                </ul>
                <p>
                    Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                    velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident
                </p>
            </div>
        </div>

    </div>

</section><!-- /About Section -->