@{
    ViewData["Title"] = "Home Page";
}


<!-- Featured Services Section -->
<section id="featured-services" class="featured-services section light-background">

    <div class="container">

        <div class="row gy-4">

            <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="100">
                <div class="service-item position-relative">
                    <div class="icon"><i class="bi bi-activity icon"></i></div>
                    <h4><a href="" class="stretched-link">Cơ sở dữ liệu thực phẩm chi tiết và cập nhật</a></h4>
                    <p>
                        Tích hợp dữ liệu dinh dưỡng từ các nguồn đáng tin cậy về chỉ số đường huyết (GI), tải đường huyết (GL), hàm lượng muối, chất béo và các thành phần khác có ảnh hưởng đến tiểu đường và huyết áp.
                        <br />Cập nhật thông tin thực phẩm mới, các nghiên cứu khoa học và khuyến nghị từ chuyên gia y tế.
                    </p>
                </div>
            </div><!-- End Service Item -->

            <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="200">
                <div class="service-item position-relative">
                    <div class="icon"><i class="bi bi-bounding-box-circles icon"></i></div>
                    <h4><a href="" class="stretched-link">Công cụ đánh giá nhanh thực phẩm</a></h4>
                    <p>
                        Cho phép người dùng nhập tên thực phẩm hoặc quét mã vạch để nhận thông tin đánh giá mức độ ảnh hưởng đến sức khỏe.
                        <br />Cung cấp cảnh báo khi thực phẩm có nguy cơ làm tăng đường huyết hoặc huyết áp
                    </p>
                </div>
            </div><!-- End Service Item -->

            <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="300">
                <div class="service-item position-relative">
                    <div class="icon"><i class="bi bi-calendar4-week icon"></i></div>
                    <h4><a href="" class="stretched-link">Gợi ý thực đơn và thay thế thực phẩm</a></h4>
                    <p>
                        Đề xuất thực phẩm thay thế lành mạnh dựa trên nhu cầu dinh dưỡng và tình trạng sức khỏe của người dùng.<br/>
                        Gợi ý thực đơn cân bằng giúp kiểm soát đường huyết và huyết áp theo chế độ ăn kiêng phù hợp.
                    </p>
                </div>
            </div><!-- End Service Item -->

            <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="400">
                <div class="service-item position-relative">
                    <div class="icon"><i class="bi bi-broadcast icon"></i></div>
                    <h4><a href="" class="stretched-link">Cá nhân hóa theo hồ sơ sức khỏe người dùng</a></h4>
                    <p>
                        Cho phép người dùng nhập thông tin cá nhân (đường huyết, huyết áp, chế độ ăn hiện tại, mục tiêu sức khỏe).<br/>
                        Điều chỉnh khuyến nghị thực phẩm và thực đơn theo tình trạng sức khỏe cá nhân, giúp kiểm soát bệnh hiệu quả hơn.
                    </p>
                </div>
            </div><!-- End Service Item -->

        </div>

    </div>

</section><!-- /Featured Services Section -->