
@{
    ViewData["Title"] = "Bệnh tiểu đường";
    Layout = "_ContLayout";
}

<h1>CÁC CHỈ SỐ LIÊN QUAN ĐẾN BỆNH TĂNG HUYẾT ÁP, TIỂU ĐƯỜNG</h1>


<div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-root-margin="0px 0px -40%" data-bs-smooth-scroll="true" class="scrollspy-example bg-body-tertiary p-3 rounded-2" tabindex="0">
    <div id="item-1">
        <h4>Chỉ số đường huyết</h4>
        <p>
            <strong>Vai trò</strong>: GI (Glycemic Index) là chỉ số đường huyết phản ánh tốc độ tăng đường huyết trong cơ thể sau khi sử dụng những thực phẩm giàu chất bột đường. Chỉ số đường huyết của một thực phẩm sẽ được phân chia thành 3 cấp độ: cao, trung bình và thấp. Việc kiểm soát chỉ số đường huyết trong cơ thể là rất quan trọng nhất là với những người bị bệnh tiểu đường.
        </p>
        <p>
            <strong>Chỉ số đường huyết ở người bình thường</strong>: Chỉ số đường huyết sẽ thay đổi trước và sau khi ăn. Tùy vào từng độ tuổi, giai đoạn bệnh cụ thể mà mỗi người sẽ có mức đường huyết an toàn khác nhau.
        </p>
        <p>
            <strong>
                Mức đường huyết an toàn ở người bình thường là 4.0-5,9 mmol/L (72-108 mg/dL), vượt mức trên được xem là bị bệnh đái tháo đường (tiểu đường).
            </strong>
        </p>
    </div>
    </p>
</div>
<div id="item-2">
    <h4>Lời khuyên cho bệnh tiểu đường</h4>
    <p>
        -	Theo dõi lượng đường trong máu thường xuyên: Thường xuyên theo dõi lượng đường trong máu là rất quan trọng để quản lý bệnh tiểu đường một cách hiệu quả. Sử dụng máy đo đường huyết để kiểm tra lượng đường trong máu tại nhà và ghi lại kết quả.
    </p>
    <p>
        -	Ăn một chế độ ăn uống cân bằng: Thực hiện chế độ ăn uống cân bằng bao gồm ngũ cốc nguyên hạt, protein nạc, trái cây, rau và chất béo lành mạnh. Hạn chế ăn thực phẩm và đồ uống có đường để duy trì lượng đường trong máu ổn định.
    </p>
    <p>
        -	Tham gia hoạt động thể chất thường xuyên: Tham gia tập thể dục thường xuyên giúp kiểm soát lượng đường trong máu, cải thiện độ nhạy insulin và tăng cường sức khỏe tổng thể. Đặt mục tiêu ít nhất 30 phút hoạt động cường độ vừa phải hầu hết các ngày trong tuần.
    </p>
    <p>
        -	Uống thuốc: Điều quan trọng là phải dùng thuốc theo toa mà bác sĩ đã chỉ định. Điều này có thể bao gồm thuốc uống hoặc tiêm insulin để giúp kiểm soát lượng đường trong máu một cách hiệu quả.
    </p>
    <p>
        -	Ngủ đủ giấc: Ngủ đủ giấc đóng vai trò thiết yếu trong việc duy trì sức khỏe tốt và kiểm soát bệnh tiểu đường. Đảm bảo ngủ đủ 7-9 tiếng mỗi đêm.
    </p>
    <p>
        -	Quản lý mức độ căng thẳng: Căng thẳng có thể tác động tiêu cực đến lượng đường trong máu. Hãy học và thực hành các kỹ thuật quản lý căng thẳng như thiền, yoga hoặc các bài tập thở sâu để kiểm soát mức độ căng thẳng.
    </p>
    <p>
        -	Bỏ thuốc lá và hạn chế uống rượu: Hút thuốc làm tăng nguy cơ biến chứng cho người mắc bệnh tiểu đường và uống quá nhiều rượu có thể ảnh hưởng đến việc kiểm soát lượng đường trong máu. Nếu hút thuốc, hãy tìm kiếm sự giúp đỡ để bỏ thuốc và uống rượu có chừng mực hoặc tránh hoàn toàn.
    </p>
</div>
<div id="item-3">
    <h4>Huyết áp</h4>
    <p>
        <strong>Vai trò</strong>: Huyết áp là áp lực máu tác động lên các thành mạch để đưa máu đến nuôi dưỡng các mô trong cơ thể. Huyết áp được tạo ra bởi sức cản của động mạch và lực co bóp của tim. Dù huyết áp cao hay thấp cũng đều gây những tác động xấu đến sức khỏe. Do đó, thường xuyên đo huyết áp là việc làm cần thiết giúp mọi người có thể kiểm soát tình trạng sức khỏe
    </p>
    <p>
        <strong>Huyết áp ở người bình thường</strong>: Khi đo huyết áp, chúng ta cần nắm được 2 trị số đó là huyết áp tối đa (tâm thu) và huyết áp tối thiểu (tâm trương). Căn cứ vào 2 trị số này chúng ta có thể biết được huyết áp của có bình thường hay không.
    </p>
    <p>
        <em>Huyết áp bình thường sẽ có trị số tâm thu dưới 140mmHg và tâm trương dưới 90mmHg</em>.
        Người bệnh được xem là bị tăng huyết áp khi chỉ số huyết áp tâm thu có giá trị > 140/90 mmHg và chỉ số huyết áp tâm trương > 90 mmHg. Ở những người mắc bệnh đái tháo đường, chỉ số huyết áp bằng hoặc dưới 120/80 mmHg được xem là bình thường.
    </p>
</div>
<div id="item-4">
    <h4>Lời khuyên cho bệnh cao huyết áp</h4>
    <p>
        - Chú ý giữ ấm cho cơ thể
    </p>
    <p>
        - Duy trì luyện tập thể thao, vận động hợp lý
    </p>
    <p>
        - Có chế độ dinh dưỡng hợp lý cho người huyết áp cao
    </p>
    <p>
        - Thận trọng khi dùng các loại thuốc: Khi dùng thuốc phải theo chỉ định của bác sỹ chuyên môn.
    </p>
    <p>
        - Kiểm tra huyết áp thường xuyên: Việc đo huyết áp thường xuyên giúp kiểm soát huyết áp hiệu quả.
    </p>
    <p>
        - Thay đổi lối sống, giảm căng thẳng: Bệnh nhân tăng huyết áp ngoài duy trì chế độ ăn uống cho người cao huyết áp khoa học cần nên để ý đến sức khỏe tinh thần. Người bệnh nên giữ cho tâm trạng vui vẻ, thoải mái, tránh những trạng thái tiêu cực về cảm xúc như: tức giận, lo lắng, căng thẳng...dễ khiến huyết áp tăng cao khó kiểm soát.
    </p>
</div>
