
@{
    ViewData["Title"] = "Bệnh tiểu đường";
    Layout = "_ContLayout";
}

<h1>CÁC CHỈ SỐ LIÊN QUAN ĐẾN BỆNH TĂNG HUYẾT ÁP, TIỂU ĐƯỜNG</h1>
@section left_menu {
        <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
            <div class="service-box">
                <h4>Thông tin Y tế</h4>
                <div class="services-list">
                    <a href="#item-1" class="active"><i class="bi bi-arrow-right-circle"></i><span>Chỉ số đường huyết</span></a>
                <a href="#item-2"><i class="bi bi-arrow-right-circle"></i><span>Huyết áp</span></a>
                <a href="#item-3"><i class="bi bi-arrow-right-circle"></i><span>Lời khuyên cho bệnh tiểu đường</span></a>
                <a href="#item-4"><i class="bi bi-arrow-right-circle"></i><span>Lời khuyên cho bệnh cao huyết áp</span></a>
                    <a href="#thucpham"><i class="bi bi-arrow-right-circle"></i><span>Thực phẩm</span></a>
                </div>
            </div><!-- End Services List -->

            <div class="service-box">
                <h4>Tài liệu tham khảo</h4>
                <div class="download-catalog">
                    <a href="#"><i class="bi bi-filetype-pdf"></i><span>Định dạng PDF</span></a>
                    <a href="#"><i class="bi bi-file-earmark-word"></i><span>Định dạng DOC</span></a>
                </div>
            </div><!-- End Services List -->

            <div class="help-box d-flex flex-column justify-content-center align-items-center">
                <i class="bi bi-headset help-icon"></i>
                <h4>Câu hỏi trực tiếp?</h4>
                <p class="d-flex align-items-center mt-2 mb-0"><i class="bi bi-telephone me-2"></i> <span>+084 905 223 344</span></p>
                <p class="d-flex align-items-center mt-1 mb-0"><i class="bi bi-envelope me-2"></i> <a href="mailto:info@nutriguide.com">info@nutriguide.com</a></p>
            </div>
        </div>
}

<div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-root-margin="0px 0px -40%" data-bs-smooth-scroll="true" class="scrollspy-example bg-body-tertiary p-3 rounded-2" tabindex="0">
    <div id="item-1">
        <h4>Chỉ số đường huyết</h4>        
        <p>
            <strong>Vai trò</strong>: GI (Glycemic Index) là chỉ số đường huyết phản ánh tốc độ tăng đường huyết trong cơ thể sau khi sử dụng những thực phẩm giàu chất bột đường. Chỉ số đường huyết của một thực phẩm sẽ được phân chia thành 3 cấp độ: cao, trung bình và thấp. Việc kiểm soát chỉ số đường huyết trong cơ thể là rất quan trọng nhất là với những người bị bệnh tiểu đường.
        </p>
        <p>
            <strong>Chỉ số đường huyết ở người bình thường</strong>: Chỉ số đường huyết sẽ thay đổi trước và sau khi ăn. Tùy vào từng độ tuổi, giai đoạn bệnh cụ thể mà mỗi người sẽ có mức đường huyết an toàn khác nhau.
        </p>
        <p>
            <strong>
                Mức đường huyết an toàn ở người bình thường là 4.0-5,9 mmol/L (72-108 mg/dL), vượt mức trên được xem là bị bệnh đái tháo đường (tiểu đường).
            </strong>        
        </p>
    </div>
    <div id="item-2">
        <h4>Huyết áp</h4>
        <p>
            <strong>Vai trò</strong>: Huyết áp là áp lực máu tác động lên các thành mạch để đưa máu đến nuôi dưỡng các mô trong cơ thể. Huyết áp được tạo ra bởi sức cản của động mạch và lực co bóp của tim. Dù huyết áp cao hay thấp cũng đều gây những tác động xấu đến sức khỏe. Do đó, thường xuyên đo huyết áp là việc làm cần thiết giúp mọi người có thể kiểm soát tình trạng sức khỏe
        </p>
        <p>
            <strong>Huyết áp ở người bình thường</strong>: Khi đo huyết áp, chúng ta cần nắm được 2 trị số đó là huyết áp tối đa (tâm thu) và huyết áp tối thiểu (tâm trương). Căn cứ vào 2 trị số này chúng ta có thể biết được huyết áp của có bình thường hay không.
        </p>
        <p>
            <em>Huyết áp bình thường sẽ có trị số tâm thu dưới 140mmHg và tâm trương dưới 90mmHg</em>.
            Người bệnh được xem là bị tăng huyết áp khi chỉ số huyết áp tâm thu có giá trị > 140/90 mmHg và chỉ số huyết áp tâm trương > 90 mmHg. Ở những người mắc bệnh đái tháo đường, chỉ số huyết áp bằng hoặc dưới 120/80 mmHg được xem là bình thường.
        </p>
    </div>
    <div id="item-3">
        <h4>Huyết áp</h4>
        <p>
            Đái tháo đường gây xơ cứng các mạch máu hay còn gọi là xơ vữa động mạch. Tình trạng tăng đường huyết lâu ngày sẽ gây tổn thương mạch máu, làm cho mạch máu bị thu hẹp lại và tạo điều kiện thuận lợi cho sự tích tụ các mảng xơ vữa. Các mảng xơ vữa chủ yếu là cholesterol và chất béo lắng đọng trong mạch máu, làm cho mạch máu trở nên xơ cứng. Hậu quả là mạch máu bị hẹp hơn và tim phải hoạt động nhiều hơn để bơm máu, dẫn đến tăng huyết áp.
            Lý do khác làm tăng huyết áp ở những người bị đái tháo đường là vì ảnh hưởng đến chức năng thận. Khi bệnh đái tháo đường không được kiểm soát tốt, lượng đường trong máu cao có thể làm hỏng các mạch máu nhỏ và các đơn vị lọc tại cầu thận. Điều này có thể dẫn đến suy giảm chức năng thận, gây giữ muối và nước, từ đó làm tăng huyết áp.
            Ngoài ra, bệnh nhân đái tháo đường thường đi tiểu thường xuyên hơn dẫn đến mất nước. Cơ thể phản ứng với tình trạng mất nước bằng cách giữ lại nhiều chất lỏng hơn, làm tăng lượng máu trong cơ thể và làm tăng huyết áp.
            Khoảng 2/3 người mắc tiểu đường đi kèm với tình trạng tăng huyết áp. Người bị tăng huyết áp làm cho bệnh đái tháo đường tiến triển nhanh hơn, nguy cơ dẫn đến biến chứng đái tháo đường cao. Bên cạnh đó, bệnh nhân đái tháo đường thường có huyết áp tăng cao, làm tăng tỷ lệ mắc các bệnh tim mạch, đột quỵ gấp 2 – 3 lần.
        </p>
        
    </div>
    <div id="item-4">
        <h4>Huyết áp</h4>
        <p>
            <strong>Vai trò</strong>: Huyết áp là áp lực máu tác động lên các thành mạch để đưa máu đến nuôi dưỡng các mô trong cơ thể. Huyết áp được tạo ra bởi sức cản của động mạch và lực co bóp của tim. Dù huyết áp cao hay thấp cũng đều gây những tác động xấu đến sức khỏe. Do đó, thường xuyên đo huyết áp là việc làm cần thiết giúp mọi người có thể kiểm soát tình trạng sức khỏe
        </p>
        <p>
            <strong>Huyết áp ở người bình thường</strong>: Khi đo huyết áp, chúng ta cần nắm được 2 trị số đó là huyết áp tối đa (tâm thu) và huyết áp tối thiểu (tâm trương). Căn cứ vào 2 trị số này chúng ta có thể biết được huyết áp của có bình thường hay không.
        </p>
        <p>
            <em>Huyết áp bình thường sẽ có trị số tâm thu dưới 140mmHg và tâm trương dưới 90mmHg</em>.
            Người bệnh được xem là bị tăng huyết áp khi chỉ số huyết áp tâm thu có giá trị > 140/90 mmHg và chỉ số huyết áp tâm trương > 90 mmHg. Ở những người mắc bệnh đái tháo đường, chỉ số huyết áp bằng hoặc dưới 120/80 mmHg được xem là bình thường.
        </p>
    </div>

</div>
